@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'MaplestoryOTF';
  src: url('/fonts/MaplestoryOTFBold.otf') format('woff');
  font-weight: normal;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button-effect {
    @apply transition-transform duration-300 ease-in-out hover:scale-110 active:scale-95 cursor-pointer;
  }
  .button-border {
    @apply border-solid border-2 border-primary;
  }
  .sidebar-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .title-effect {
    @apply border-l-4 border-l-slate-700 pl-4 text-xl text-slate-500;
  }
  .bg-heart {
    @apply w-[15px] h-[15px] bg-cover;
    background-image: url('/icons/heart.png');
  }

  .bg-heartRose {
    @apply w-[15px] h-[15px] bg-cover;
    background-image: url('/icons/heartRose.png');
  }

  .bg-star {
    @apply w-[15px] h-[15px] bg-cover;
    background-image: url('/icons/star.png');
  }

  .bg-starYellow {
    @apply w-[15px] h-[15px] bg-cover;
    background-image: url('/icons/starYellow.png');
  }

  .bg-comment {
    @apply w-[15px] h-[15px] bg-cover;
    background-image: url('/icons/comment.png');
  }

  /* Hover effect */
  .like-icon:hover {
    @apply bg-heartRose;
  }

  .bookmark-icon:hover {
    @apply bg-starYellow;
  }
}
