@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'MaplestoryOTF';
  src: url('/fonts/MaplestoryOTFBold.otf') format('woff');
  font-weight: normal;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button-effect {
    @apply transition-transform duration-300 ease-in-out hover:scale-110 active:scale-95 cursor-pointer;
  }
  .button-border {
    @apply border-solid border-2 border-primary;
  }
  .sidebar-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .title-effect {
    @apply border-l-4 border-l-slate-700 pl-4 text-xl text-slate-500;
  }
}
